@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #fff;
	--foreground: #000;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #000;
		--foreground: #fff;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
}

a:hover {
	color: #16b4fe;
}
